@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

.table {
  display: table;
  width: 100%; }
  .table > * {
    display: table-cell;
    vertical-align: top; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.error-text {
  display: block;
  text-align: left;
  color: red;
  left: 0;
  bottom: -20px;
  pointer-events: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-size: .7em;
  margin-top: 5px; }

.input-text-container {
  position: relative;
  width: 250px;
  padding: 10px; }
  .input-text-container.inline {
    display: inline-grid; }
  .input-text-container > div {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 20px;
    width: 100%; }
    .input-text-container > div input {
      border: none;
      outline: none;
      width: 100%; }
      .input-text-container > div input:focus ~ label.floating, .input-text-container > div input:not(:placeholder-shown) ~ label.floating {
        color: #01579b;
        transform: translate3d(0, -14px, 0);
        font-size: .8em; }
      .input-text-container > div input:focus:placeholder-shown ~ div label.placeholder, .input-text-container > div input:not(:placeholder-shown):placeholder-shown ~ div label.placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-size: .8em; }
      .input-text-container > div input:focus ~ hr, .input-text-container > div input:not(:placeholder-shown) ~ hr {
        transform: scale3d(1, 0, 0);
        border-bottom: 2px solid #01579b; }
      .input-text-container > div input:active ~ .ripple {
        opacity: 1;
        transform: scale3d(1, 1, 1); }
    .input-text-container > div label.floating {
      position: absolute;
      color: rgba(0, 0, 0, 0.3);
      left: 0;
      top: 0px;
      pointer-events: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .input-text-container > div .container-placeholder {
      position: absolute;
      left: 0;
      top: 0px;
      pointer-events: none;
      overflow: hidden;
      width: 100%; }
      .input-text-container > div .container-placeholder label.placeholder {
        color: transparent;
        pointer-events: none;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        white-space: nowrap; }
    .input-text-container > div hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #01579b;
      margin: 0 auto;
      pointer-events: none;
      transform: scale3d(0, 0, 0);
      position: absolute;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .input-text-container > div div.ripple {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #00bcd4;
      opacity: 0;
      transform: scale3d(0, 0, 0);
      pointer-events: none;
      transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .input-text-container.input-error > div input:focus ~ label.floating,
  .input-text-container.input-error div input:not(:placeholder-shown) ~ label.floating {
    color: red !important; }
  .input-text-container.input-error input ~ hr {
    border-bottom: 2px solid red !important;
    transform: scale3d(1, 0, 0); }

.button-container button {
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
  background: #01579b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  min-width: 100px;
  text-transform: uppercase;
  position: relative; }
  .button-container button:hover {
    background: rgba(1, 87, 155, 0.7);
    cursor: pointer; }

.switches-container {
  list-style-type: none;
  margin: 20px 0; }
  .switches-container.inline {
    display: inline-block; }
  .switches-container label {
    position: relative; }
    .switches-container label:hover {
      cursor: pointer; }
    .switches-container label input {
      appearance: none;
      position: relative;
      width: 20px;
      height: 20px;
      border: 2px solid #263238;
      vertical-align: middle;
      position: absolute;
      left: 0;
      transition: all 50ms ease;
      cursor: pointer;
      display: inline-block;
      outline: none;
      position: relative;
      background: transparent;
      pointer-events: none;
      margin: 0 10px; }
      .switches-container label input li:first-child {
        margin-left: 0; }
      .switches-container label input[type="radio"] {
        border-radius: 50px; }
        .switches-container label input[type="radio"]:before, .switches-container label input[type="radio"]:after {
          border-radius: 50px; }
        .switches-container label input[type="radio"]:checked:before {
          transform: scale3d(1, 1, 1); }
      .switches-container label input[type="checkbox"]:checked:before {
        transform: scale3d(1, 1, 1);
        content: ""; }
      .switches-container label input:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        position: relative;
        background: #01579b;
        left: 2.9px;
        top: 1.3px;
        opacity: 0;
        transform: scale3d(0, 0, 0);
        transition: all 100ms ease; }
      .switches-container label input:checked {
        border-color: #01579b; }
        .switches-container label input:checked:before {
          opacity: 1; }
        .switches-container label input:checked:after {
          animation: click-wave 0.65s;
          background: #01579b;
          content: '';
          display: block;
          position: relative;
          z-index: 100;
          transform: translate(-50%, -50%);
          top: -50%;
          left: 50%; }
      .switches-container label input:active {
        transform: scale3d(0.3, 0.3, 0.3); }
      .switches-container label input[class='0'] {
        margin-left: 0; }
  .switches-container .error-text {
    position: initial; }

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 50px;
    width: 50px;
    opacity: 0.0; } }

/*# sourceMappingURL=index.css.map */