@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: 'Montserrat', sans-serif; }

.table {
  display: table;
  width: 100%; }
  .table > * {
    display: table-cell;
    vertical-align: top; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-size: 16px; }

.app-container {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-height: 100vh;
  margin: 0 auto;
  max-width: 21cm; }
  .app-container h1 {
    font-size: 1.5em; }
  .app-container.dark-them .aside-left-container {
    background: #191919; }
  .app-container.dark-them .main-right-section {
    color: #ffffff;
    background: #424242; }
    .app-container.dark-them .main-right-section > i {
      position: absolute;
      right: 5%; }
    .app-container.dark-them .main-right-section section {
      background-color: #191919; }
      .app-container.dark-them .main-right-section section a,
      .app-container.dark-them .main-right-section section h3 {
        color: #ffffff; }
  .app-container.dark-them .container-footer {
    background: #151515; }
  .app-container.dark-them header [class^="icon-"] {
    color: #ffffff; }
  .app-container main.table {
    table-layout: fixed; }
  .app-container main .aside-left-container {
    transition: all 0.3s ease;
    background: #01579b;
    color: #ffffff;
    width: 30%;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23); }
    .app-container main .aside-left-container > section {
      padding: 0 0 0 8%; }
    .app-container main .aside-left-container h1.name {
      text-align: right; }
    .app-container main .aside-left-container .img-profile-container {
      position: relative; }
      .app-container main .aside-left-container .img-profile-container .content-img {
        position: absolute;
        bottom: 8%;
        right: 9%;
        max-width: 156px; }
        .app-container main .aside-left-container .img-profile-container .content-img h1 {
          font-size: 1.3em; }
        .app-container main .aside-left-container .img-profile-container .content-img p {
          font-size: 0.8em; }
    .app-container main .aside-left-container .container-detail-personal-data {
      color: #ffffff; }
      .app-container main .aside-left-container .container-detail-personal-data.skills > div {
        border-bottom: none; }
      .app-container main .aside-left-container .container-detail-personal-data.skills .skill-container {
        margin: 10px 0; }
        .app-container main .aside-left-container .container-detail-personal-data.skills .skill-container span {
          margin-bottom: -8px; }
      .app-container main .aside-left-container .container-detail-personal-data .text {
        display: block;
        font-size: 0.7em;
        line-height: 1.6em; }
      .app-container main .aside-left-container .container-detail-personal-data > div {
        width: 85%;
        border-bottom: 1px solid #398aca;
        padding: 8% 8% 8% 0; }
      .app-container main .aside-left-container .container-detail-personal-data [class^="icon-"] {
        display: table-cell;
        font-size: 1.3em;
        padding: 10% 20px 0 0; }
  .app-container main .main-right-section {
    transition: all 0.3s ease;
    background: #e3e3e3;
    box-shadow: inset 5px 0px 11px rgba(0, 0, 0, 0.19);
    color: #737373;
    width: 70%;
    padding: 5% 3% 3% 3%;
    position: relative; }
    .app-container main .main-right-section h1.name {
      text-align: left; }
    .app-container main .main-right-section section {
      transition: all 0.3s ease;
      background-color: #ffffff;
      margin: 6% 0;
      padding: 6% 0 6% 6%;
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23);
      position: relative; }
      .app-container main .main-right-section section [class^="icon-"] {
        display: inline-block;
        font-size: 2em; }
      .app-container main .main-right-section section:hover i.actions-item.add-icon {
        visibility: initial;
        opacity: 1; }
      .app-container main .main-right-section section i.actions-item {
        transition: all 0.5s ease;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 2%;
        font-size: 1em;
        top: 1%; }
        .app-container main .main-right-section section i.actions-item:hover {
          cursor: pointer; }
      .app-container main .main-right-section section h2,
      .app-container main .main-right-section section h3,
      .app-container main .main-right-section section h4,
      .app-container main .main-right-section section a,
      .app-container main .main-right-section section p,
      .app-container main .main-right-section section span {
        line-height: 1.4em; }
      .app-container main .main-right-section section h2 {
        display: inline-block; }
      .app-container main .main-right-section section h3,
      .app-container main .main-right-section section a {
        font-size: 1em;
        color: #737373; }
      .app-container main .main-right-section section h4 {
        color: #6eb1e0;
        font-size: 0.7em;
        text-transform: uppercase;
        line-height: 2em; }
      .app-container main .main-right-section section li {
        list-style-type: none;
        line-height: 1.4em;
        margin-top: 10px;
        text-align: justify;
        font-size: 0.8em; }
      .app-container main .main-right-section section article {
        padding: 15px 0;
        border-bottom: 1px solid #e3e3e3;
        position: relative; }
        .app-container main .main-right-section section article:last-of-type {
          border-bottom: none; }
        .app-container main .main-right-section section article div {
          padding-right: 8%; }
        .app-container main .main-right-section section article:hover i.actions-item.remove-icon {
          visibility: initial;
          opacity: 1; }
      .app-container main .main-right-section section:first-of-type {
        margin-top: 0; }
      .app-container main .main-right-section section:last-of-type {
        margin-bottom: 0; }
    .app-container main .main-right-section .container-detail {
      padding-left: 10px; }
  .app-container .container-footer {
    min-height: 60px;
    background: #002f6e;
    padding: 2% 10%;
    text-align: center; }
    .app-container .container-footer .img-tecnologies {
      filter: grayscale(95%);
      transition: all 0.3s ease;
      margin: 10px;
      display: inline-block; }
      .app-container .container-footer .img-tecnologies:hover {
        filter: grayscale(0%);
        cursor: pointer; }
  .app-container .message-content {
    position: fixed;
    z-index: 1000;
    color: white;
    background: transparent;
    width: 21cm;
    min-height: initial;
    bottom: 0; }
    .app-container .message-content > * {
      display: block;
      line-height: 2.2em;
      margin: .5em;
      background: rgba(0, 76, 0, 0.8);
      padding: 0.3em 2em;
      border-radius: 4px;
      text-align: center;
      color: white; }
      .app-container .message-content > *.error {
        transition: all 0.3s ease;
        background: rgba(76, 0, 0, 0.8); }
  .app-container header {
    margin: 1% 0;
    text-align: right;
    position: absolute;
    z-index: 10000;
    right: 14px; }
    .app-container header [class^="icon-"] {
      transition: all 0.3s ease;
      font-size: 1.3em;
      padding: 15px;
      color: #737373; }
      .app-container header [class^="icon-"]:hover {
        cursor: pointer; }
    .app-container header .container-actions {
      position: relative;
      display: inline; }
    .app-container header .icon-menu {
      font-size: 1.5em;
      display: none; }

@media (max-width: 21cm) {
  .app-container {
    width: 100%; }
    .app-container main.table {
      width: 100%; }
      .app-container main.table > * {
        display: block;
        width: 100%; }
    .app-container main .aside-left-container .container-detail-personal-data.skills .skill-container {
      margin: 10px 0;
      width: 50%;
      display: inline-block;
      padding: 0 2%; }
    .app-container main .aside-left-container .container-detail-personal-data .container-detail {
      width: 90%;
      padding: 5% 5% 5% 0; }
    .app-container main .aside-left-container .container-detail-personal-data [class^="icon-"] {
      padding: 6% 2% 0 0; }
    .app-container .message-content {
      width: 100%; }
    .app-container header .container-actions {
      visibility: none;
      opacity: 0;
      transition: all 0.5s ease; }
      .app-container header .container-actions [class^="icon-"] {
        padding: 6% 0 0 0;
        transition: all 0.5s ease; }
      .app-container header .container-actions.active {
        visibility: initial;
        opacity: 1; }
        .app-container header .container-actions.active [class^="icon-"] {
          padding: 6% 20px 0 0; }
    .app-container header .icon-menu {
      display: initial; } }

@media print {
  .app-container {
    width: 21cm;
    padding: 0;
    box-shadow: none; }
    .app-container main.table {
      width: 100%; }
      .app-container main.table > * {
        display: table-cell;
        width: 100%; }
    .app-container .main-right-section {
      width: 70% !important;
      padding: 3% !important; }
    .app-container .aside-left-container {
      width: 30% !important; }
      .app-container .aside-left-container .container-detail-personal-data.skills .skill-container {
        width: 100% !important;
        display: block !important;
        padding: 0 !important; }
      .app-container .aside-left-container .container-detail-personal-data .container-detail {
        width: 85% !important;
        padding: 8% 8% 8% 0 !important; }
      .app-container .aside-left-container [class^="icon-"] {
        padding: 8% 20px 0 0 !important; }
  header,
  .actions-item {
    display: none; }
  @page {
    margin: 0; } }

.loading {
  background: rgba(9, 11, 14, 0.47);
  min-height: 100vh;
  position: fixed;
  z-index: 100000000000000;
  max-width: 21cm;
  width: 100%; }
  .loading .spinner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    width: 70px;
    text-align: center; }
    .loading .spinner > * {
      width: 18px;
      height: 18px;
      background-color: #01579b;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
    .loading .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s; }
    .loading .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 2px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: white;
  outline: none;
  /* no focus outline */ }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50px;
  background: white;
  /* android <= 2.2 */
  /* older mobile safari and android > 2.2 */
  /* W3C */ }

input[type="range"]::-moz-range-thumb {
  width: 100%;
  border: none;
  border-radius: 12px;
  /* W3C */ }

input[type="range"]::-ms-thumb {
  width: 40px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */ }

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent; }

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent; }

.input-text-container {
  position: relative;
  width: 250px;
  padding: 10px; }
  .input-text-container.inline {
    display: inline-grid; }
  .input-text-container > div {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: left;
    display: inline-block;
    font-size: 1.1em;
    margin-top: 20px;
    width: 100%; }
    .input-text-container > div input {
      border: none;
      outline: none;
      width: 100%; }
      .input-text-container > div input:focus ~ label.floating, .input-text-container > div input:not(:placeholder-shown) ~ label.floating {
        color: #01579b;
        top: -100%;
        font-size: .8em; }
      .input-text-container > div input:focus:placeholder-shown ~ div label.placeholder, .input-text-container > div input:not(:placeholder-shown):placeholder-shown ~ div label.placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-size: .8em; }
      .input-text-container > div input:focus ~ hr, .input-text-container > div input:not(:placeholder-shown) ~ hr {
        transform: scaleX(1);
        border-bottom: 2px solid #01579b; }
      .input-text-container > div input:active ~ .ripple {
        opacity: 1;
        transform: scale(1); }
    .input-text-container > div label.floating {
      position: absolute;
      color: rgba(0, 0, 0, 0.3);
      left: 0;
      top: 0px;
      pointer-events: none;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .input-text-container > div .container-placeholder {
      position: absolute;
      left: 0;
      top: 0px;
      pointer-events: none;
      overflow: hidden;
      width: 100%; }
      .input-text-container > div .container-placeholder label.placeholder {
        color: transparent;
        pointer-events: none;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        white-space: nowrap; }
    .input-text-container > div hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid #01579b;
      margin: 0 auto;
      pointer-events: none;
      transform: scaleX(0);
      position: absolute;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
    .input-text-container > div div.ripple {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: #00bcd4;
      opacity: 0;
      transform: scale(0);
      pointer-events: none;
      transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .input-text-container.input-error > div input:focus ~ label.floating,
  .input-text-container.input-error div input:not(:placeholder-shown) ~ label.floating {
    color: red !important; }
  .input-text-container.input-error input ~ hr {
    border-bottom: 2px solid red !important;
    transform: scaleX(1); }

.switches-container {
  list-style-type: none;
  margin: 20px 0; }
  .switches-container li.inline {
    display: inline-block; }
  .switches-container li label {
    position: relative; }
    .switches-container li label:hover {
      cursor: pointer;
      color: #e3e3e3;
      border-color: #e3e3e3; }
      .switches-container li label:hover input {
        border-color: #e3e3e3; }
    .switches-container li label input {
      appearance: none;
      position: relative;
      width: 20px;
      height: 20px;
      border: 2px solid #263238;
      vertical-align: middle;
      position: absolute;
      left: 0;
      transition: all 100ms ease;
      cursor: pointer;
      display: inline-block;
      outline: none;
      position: relative;
      background: transparent;
      pointer-events: none;
      margin: 0 10px; }
      .switches-container li label input li:first-child {
        margin-left: 0; }
      .switches-container li label input[type="radio"] {
        border-radius: 50px; }
        .switches-container li label input[type="radio"]:before, .switches-container li label input[type="radio"]:after {
          border-radius: 50px; }
        .switches-container li label input[type="radio"]:checked:before {
          transform: scale3d(1, 1, 1); }
      .switches-container li label input[type="checkbox"]:checked:before {
        transform: scale3d(1, 1, 1);
        content: ""; }
      .switches-container li label input:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        position: relative;
        background: #01579b;
        left: 3px;
        top: 1px;
        opacity: 0;
        transform: scale3d(0, 0, 0);
        transition: all 100ms ease; }
      .switches-container li label input:checked {
        border-color: #01579b; }
        .switches-container li label input:checked:before {
          opacity: 1; }
        .switches-container li label input:checked:after {
          animation: click-wave 0.65s;
          background: #01579b;
          content: '';
          display: block;
          position: relative;
          z-index: 100;
          transform: translate(-50%, -50%);
          top: -50%;
          left: 50%; }
      .switches-container li label input:active {
        transform: scale3d(0.4, 0.4, 0.4); }

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 50px;
    width: 50px;
    opacity: 0.0; } }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.error-text {
  display: block;
  text-align: left;
  color: red;
  left: 0;
  bottom: -20px;
  pointer-events: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-size: .8em;
  margin-top: 5px; }

.button-container button {
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
  background: #01579b;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  min-width: 100px;
  text-transform: uppercase;
  position: relative; }
  .button-container button:hover {
    background: rgba(1, 87, 155, 0.7);
    cursor: pointer; }

.value-key-location {
  display: inline-block;
  text-align: left;
  float: left; }

.card {
  min-width: 288px;
  margin: auto;
  width: 500px;
  font-weight: lighter;
  max-width: calc(100% - 32px);
  padding: 1.5em 1em;
  position: relative;
  background: #FFFFFF;
  color: #212121;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), 0 3px 6px rgba(0, 0, 0, 0.65); }

*,
*::before,
*::after {
  box-sizing: border-box; }

.file-drag {
  margin: 1em 0;
  cursor: default;
  background-color: #ECEFF1;
  color: #607D8B;
  background-image: -webkit-linear-gradient(bottom, currentColor 10px, #FFFFFF 10px), -webkit-linear-gradient(left, currentColor 10px, #FFFFFF 10px), -webkit-linear-gradient(top, currentColor 10px, #FFFFFF 10px), -webkit-linear-gradient(right, currentColor 10px, #FFFFFF 10px);
  background-image: linear-gradient(to top, currentColor 10px, #FFFFFF 10px), linear-gradient(to right, currentColor 10px, #FFFFFF 10px), linear-gradient(to bottom, currentColor 10px, #FFFFFF 10px), linear-gradient(to left, currentColor 10px, #FFFFFF 10px);
  background-size: 1px 20px, 20px 1px, 1px 20px, 20px 1px;
  background-repeat: repeat-y, repeat-x, repeat-y, repeat-x;
  -webkit-animation: background-position 1s linear infinite;
  animation: background-position 1s linear infinite;
  will-change: background-position; }

.file-drag.hover {
  background-color: #E8F5E9;
  color: #4CAF50; }

@-webkit-keyframes background-position {
  from {
    background-position: 0% 0px, 0px 100%, 100% 0px, 0px 0%; }
  to {
    background-position: 0% 40px, 40px 100%, 100% -40px, -40px 0%; } }

@keyframes background-position {
  from {
    background-position: 0% 0px, 0px 100%, 100% 0px, 0px 0%; }
  to {
    background-position: 0% 40px, 40px 100%, 100% -40px, -40px 0%; } }

.image-preview {
  display: inline-block;
  max-width: 60px;
  max-height: 60px;
  margin: 2px;
  padding: 5px; }

.preview {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  max-width: 200px;
  max-height: 100px;
  overflow: auto;
  word-break: break-all;
  white-space: pre-wrap; }

.preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 5px 0;
  background: #CFD8DC; }

.preview-item.disabled {
  background: #F5F5F5;
  pointer-events: none; }

.preview-item.disabled .button {
  opacity: 0.5; }

.input {
  position: absolute;
  top: 0;
  left: -10em;
  height: 0;
  width: 0;
  opacity: 0; }

.loader {
  height: 60px;
  width: 60px;
  position: relative; }

.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  margin: -5px;
  border-radius: 100%;
  background: #90A4AE;
  -webkit-animation: load-item .8s ease-in-out infinite;
  animation: load-item .8s ease-in-out infinite; }

.loader-item:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.loader-item:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.loader-item:nth-child(3) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

@-webkit-keyframes load-item {
  from {
    -webkit-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  to {
    -webkit-transform: rotate(360deg) translateY(20px);
    transform: rotate(360deg) translateY(20px); } }

@keyframes load-item {
  from {
    -webkit-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  to {
    -webkit-transform: rotate(360deg) translateY(20px);
    transform: rotate(360deg) translateY(20px); } }

.button {
  font-size: .8em;
  margin-right: .5em;
  padding: .35em .5em;
  color: currentColor;
  border: 1px solid;
  cursor: pointer;
  background: transparent;
  color: #607D8B;
  white-space: nowrap;
  font-weight: lighter;
  text-transform: uppercase; }

.button:hover,
.button:focus {
  background: #607D8B;
  border-color: #607D8B;
  color: #FFFFFF; }

.button:active {
  background: #708a97;
  border-color: #708a97;
  color: #FFFFFF; }

.button:focus {
  outline: 0; }

.input-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #212121; }

.file-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.file-ext {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.input-cover {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 2px; }

.help-text {
  padding: 1em;
  display: inline-block;
  color: #212121; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.home-container {
  position: relative;
  transform: translateY(50vh);
  width: 100%; }
  .home-container p {
    text-align: center;
    padding: 0; }
