* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // color: $primary-color-text;
    text-decoration: none;
}

////// HOME
.home {
    padding: 20px;
    form {
        width: 15%;
    }
    button {
        width: 250px;
        margin: 10px 0;
        &.btn-cancel{
            margin-top: 0;
        }
    }
}