////// INPUT TEXT ///////////////
.input-text-container {

    position: relative;
    width: 250px;
    padding: 10px;
    &.inline {
        display: inline-grid;
    }
    >div {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        text-align: left;
        display: inline-block;
        font-size: 1.1em;
        margin-top: 20px;
        width: 100%;
        input {
            border: none;
            outline: none;
            width: 100%;
            &:focus,
            &:not(:placeholder-shown) {
                &~label.floating {
                    color: $primary-color;
                    transform: translate3d(0,-14px, 0);
                    font-size: .8em;
                }
                &:placeholder-shown~div label.placeholder {
                    color: rgba(0, 0, 0, 0.3);
                    font-size: .8em;
                }
                &~hr {
                    transform: scale3d(1,1,1);
                    border-bottom: 2px solid $primary-color;
                }
            }
            &:active {
                &~.ripple {
                    opacity: 1;
                    transform: scale3d(1,1,1);
                }
            }
        }
        label.floating {
            position: absolute;
            color: rgba(0, 0, 0, 0.3);
            left: 0;
            top: 0px;
            pointer-events: none;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
            // color: $secondary-color;
        }
        .container-placeholder {
            position: absolute;
            left: 0;
            top: 0px;
            pointer-events: none;
            overflow: hidden;
            width: 100%;
            label.placeholder {
                color: transparent;
                pointer-events: none;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                white-space: nowrap;
            }
        }
        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid $primary-color;
            margin: 0 auto;
            pointer-events: none;
            transform: scale3d(0,0,0);
            position: absolute;
            transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
        div.ripple {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-color: rgb(0, 188, 212);
            opacity: 0;
            transform: scale3d(0,0,0);
            pointer-events: none;
            transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }
    }
    &.input-error {
        >div input:focus~label.floating,
        div input:not(:placeholder-shown)~label.floating {
            color: red !important
        }
        input~hr {
            border-bottom: 2px solid red !important;
            transform: scale3d(1,1,1);
        }
    }
    div.validations-container {
        margin: 0;
        border: none;
        opacity: 0;
        display: none;
        transition: all 0.5s ease-out;
        &.visible{
            opacity: 1;
            display: block;
        }
        .validation-text {
            display: block;
            text-align: left;
            left: 0;
            bottom: -20px;
            pointer-events: none;
            transition: all 0.5s ease-out;
            font-size: .7em;
            margin-top: 5px;
            &.error-text {
                color: red;
            }
            &.succes-text {
                color: green;
            }
        }
    }
}